@import '@fortawesome/fontawesome-free/css/all.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 9%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 0 0% 4%;
    --foreground: 0 0% 93%;
  }
}

body {
  @apply bg-background text-foreground;
  font-feature-settings: "rlig" 1, "calt" 1;
}

/* Enables smooth scrolling for the whole page */
html {
  scroll-behavior: smooth;
}

/* Optional: Style for active sections */
:target {
  scroll-margin-top: 80px; /* Adjust based on your navbar height */
}

@layer utilities {
  .text-silver-shiny {
    @apply text-transparent;
    background: linear-gradient(145deg,#c0c0c0,#ffffff,#a0a0a0,#e0e0e0 );
    -webkit-background-clip: text;
    background-clip: text;
  }
  @layer utilities {
    .text-blue-gradient {
      @apply text-transparent bg-gradient-to-r from-blue-200 via-blue-400 to-blue-600 bg-clip-text;
    }
  }

}
