@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 9%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 0 0% 4%;
    --foreground: 0 0% 93%;
  }
}

body {
  @apply bg-background text-foreground;
  font-feature-settings: "rlig" 1, "calt" 1;
}

/* Enables smooth scrolling for the whole page */
html {
  scroll-behavior: smooth;
}

/* Optional: Style for active sections */
:target {
  scroll-margin-top: 80px; /* Adjust based on your navbar height */
}

@layer utilities {
  .text-silver-shiny {
    @apply bg-clip-text text-transparent;
    background: linear-gradient(145deg, #e6e6e6, #ffffff, #a6a6a6);
  }
}
